@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

h1{
    font-family: 'Roboto';
    font-weight: 700;
}

#quote{
    font-family: 'Roboto';
    font-weight: 400;
    margin: 10px 0 20px 10px
}

button{
    font-family: 'Roboto';
    font-weight: 300;
}