@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

h1{
    font-family: 'Roboto';
    font-weight: 700;
}

#quote{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 400;
    margin: 10px 0 20px 0px
}

#quoteInfo{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#quoter{
    margin-top: 10px;
}

#quoterImg{
    width: 150px;
    height: 200px;
    margin-top: 10px;
}

button{
    font-family: 'Roboto';
    font-weight: 300;
}